# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\andre\OneDrive\Documents\Denmark University\6th Semester\CMC\Lesson7 The Stack\TAMpackage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
